

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/apartment_details.css' %}">

<div class="container">
  <h2 class="apartment-heading">Apartment Details</h2>
  <div class="card">
    <div class="card-header">
      <h3 class="address">{{ apartment.address }}</h3>
    </div>
    <div class="card-body">
      <p class="rent">Rent: ৳{{ apartment.rent }}</p>
      <p class="area">Area: {{ apartment.area }}</p>
      <p class="bedrooms">Bedrooms: {{ apartment.bedrooms }}</p>
      <p class="washrooms">Washrooms: {{ apartment.washrooms }}</p>
      <p class="description">Description: {{ apartment.description }}</p>

      <!-- Include any additional apartment details here -->
    </div>
  </div>
</div>

{% endblock %}
