<!-- templates/accounts/home.html -->

{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Apartment Management System - Home</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'accounts/style.css' %}"
    />
  </head>
  <body>
    <header>
      <h1>Welcome to the Apartment Management System</h1>
      <div class="buttons">
        <a href="{% url 'login' %}" class="button">Sign In</a>
        <a href="{% url 'signup' %}" class="button">Sign Up</a>
      </div>
    </header>

    <main>
      <p>Hello, {{ first_name }}</p>
      <h2>Vacant Apartments</h2>
      {% if accounts %}
      <div class="accounts-container">
        {% for apartment in accounts %}
        <div class="apartment-item">
          <h3>{{ apartment.address }}</h3>
          <p>Rent: ${{ apartment.rent }}</p>
          <p>{{ apartment.short_description }}</p>
          <a
            href="{% url 'apartment_details' apartment.id %}"
            class="details-button"
            >View Details</a
          >
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p>No vacant apartments available.</p>
      {% endif %}
    </main>

    <footer>
      <p>&copy; 2023 Apartment Management System. All rights reserved.</p>
    </footer>
  </body>
</html>
