{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'accounts/signup.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
  <title>Signup</title>
</head>
<body>
  <div class="content">
    <h1>Signup</h1>
    <p>Select User Type:</p>
    <button class="user-type-button" onclick="selectUserType('owner')">Owner</button>
    <button class="user-type-button" onclick="selectUserType('tenant')">Tenant</button>

    <div id="signupForm" style="display: none;">
      <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <input type="hidden" id="userTypeInput" name="user_type" value="">
        <!-- Include other input fields for user data here -->
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password1" placeholder="Password" required>
        <input type="password" name="password2" placeholder="Confirm Password" required>
        <input type="text" name="first_name" placeholder="First Name" required>
        <input type="text" name="last_name" placeholder="Last Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="mobile_number" placeholder="Mobile Number" required>
        <input type="text" id="ownerUniqueId" name="owner_unique_id" placeholder="Owner Unique ID" required>
        <input type="text" id="ownerId" name="owner_id" placeholder="Owner ID" style="display: none;" required>
        <input type="text" name="nid" placeholder="NID">
        <button type="submit">Signup</button>
      </form>
    </div>
  </div>

  <!-- JavaScript -->
  <script>
    function selectUserType(userType) {
      document.getElementById('userTypeInput').value = userType;

      if (userType === 'owner') {
        document.getElementById('ownerUniqueId').style.display = 'none';
        document.getElementById('ownerId').style.display = 'block';
      } else {
        document.getElementById('ownerUniqueId').style.display = 'block';
        document.getElementById('ownerId').style.display = 'none';
      }

      document.getElementById('signupForm').style.display = 'block';
    }
  </script>
</body>
</html>
