/* static/accounts/login.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.signin-card {
  padding: 2rem;
  background-color: #111;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center; /* Center the content horizontally */
}

.signin-title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 1rem;
}

.signin-form {
  margin-bottom: 1rem;
}

.signin-button {
  background-color: #111;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: block; /* Center the button horizontally */
  margin: 0 auto; /* Center the button horizontally */
}

.signin-button:hover {
  background-color: #222;
}

p {
  color: #fff;
  font-size: 14px;
  margin-top: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #aaa;
  text-decoration: underline;
}
