/* static/accounts/profile.css */

body {
  background-color: #000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

.profile-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.navbar {
  background-color: #222;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.navbar-contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  margin-top: 40px; 
}

#mr{
margin-bottom: 40px;
}

.profile-content {
  flex: 1;
  padding: 20px;
}

.profile-header {
  margin-bottom: 20px;
}

.profile-username {
  font-size: 24px;
  margin: 0;
  color: #fff;
  margin-top: 30px;
}

.profile-email {
  font-size: 16px;
  margin: 0;
  color: #fff;
}

.owner-section,
.dashboard-section {
  margin-bottom: 20px;
}

#owner-info-button{
margin-bottom: 40px;
}



.apartment-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.apartment-item {
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  flex: 1 1 300px;
}

.apartment-address {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}

.apartment-rent {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}

.apartment-description {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}

.details-button,
.edit-button,
.delete-button, .visit-button {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  background-color: #000;
}


.no-apartments-message {
  color: #000;
  font-size: 16px;
}

.owner-username,
.owner-email,
.owner-first-name,
.owner-last-name,
.owner-mobile-number {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.tenant-section-title {
  color: #fff;
  font-size: 20px;
  margin-bottom: 1rem;
}

/* Additional styling as per your requirements */

/* Hide navbar for tenant section */
.tenant-section .navbar {
  display: none;
}
