/* style.css */

/* Main content */
main {
  background-color: #f9f9f9;
  padding: 20px;
}

.accounts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -10px; /* Add negative margin to create spacing between apartment items */
}

.apartment-item {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(33.33% - 20px); /* Adjust the width as per your preference */
  box-sizing: border-box;
  margin: 10px; /* Add margin to create spacing between apartment items */
}

.apartment-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

/* Other styles as per your requirement */
